.upload-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #121421 0%, #1a1c2b 100%);
    color: white;
    width: 100vw;
    padding: 50px;
}


.upload-box {
    width: 80%;
    max-width: 600px;
    min-height: 70vh;
    padding: 40px;
    background: linear-gradient(90deg, #1a1f2e 0%, #23263a 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}


.upload-box h2 {
    margin-bottom: 25px;
    font-size: 2rem;
    text-align: center;
}


.upload-box input[type="file"] {
    margin-bottom: 25px;
    cursor: pointer;
}


.upload-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    gap: 10px;
}

.upload-preview img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.upload-box button {
    padding: 14px 25px;
    margin-top: 12px;
    width: 80%;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-btn,
.back-btn {
    background-color: #d5722b;
    color: white;
}

.upload-btn:hover,
.back-btn:hover {
    background-color: #ff6b00;
}


.change-btn {
    margin-top: 12px;
    padding: 10px 18px;
    width: auto;
    background: transparent;
    color: #d5722b;
    border: 1px solid #d5722b;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.change-btn:hover {
    background: #d5722b;
    color: white;
}


.loading-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;

}

.loading-content {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.loading-message {
    font-size: 1.3rem;
    text-align: center;
}

.orange-text {
    color: #ff6b00;
    font-weight: bold;
}

.dot-anim span {
    animation: blink 1s infinite;
    margin-right: 2px;
    font-weight: bold;
}

.dot-anim span:nth-child(1) {
    animation-delay: 0s;
}

.dot-anim span:nth-child(2) {
    animation-delay: 0.2s;
}

.dot-anim span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    20% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}


.progress-container {
    width: 80%;
    height: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
}

.progress-bar {
    height: 100%;
    background: #d5722b;
    transition: width 0.1s linear;
}


.cancel-btn {
    background: transparent;
    color: #d5722b;
    border: 1px solid #d5722b;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.cancel-btn:hover {
    background: #d5722b;
    color: white;
}

.loading-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: #121421;
    padding: 25px 40px;
    border-radius: 12px;
    text-align: center;
    color: white;
}

.popup button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    background: #ff6b00;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.popup button:hover {
    background: #d5722b;
}

.fixed-upload-area {
    width: 400px;
    height: 300px;
    border: 2px dashed #d5722b;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000033;
    margin-bottom: 10px;
    overflow: hidden;
}

.choose-file {
    cursor: pointer;
    color: #ff6b00;
    font-weight: 600;
    font-size: 1rem;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.change-btn {
    padding: 0;
    margin-bottom: 10px;
    border: none;
    background: none;
    color: #ff6b00;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.change-btn:hover {
    background-color: #d5722b;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}